body, html {
    height: 100%;
}

body {
    background-image: url("../images/conquest-background.jpg");
    background-size: cover;
    font-family: 'MedievalSharp', cursive;
}

#gameTitle {
    font-size: 5vw;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2.2vw;
}

h3 {
    font-size: 1.9vw;
}

img {
    max-width: 50vw;
    max-height: 20vw;
}

button {
    font-size: 4vw !important;
}

#gameContainer {
    height: 400px;
    border-width: 5px !important;
    overflow: auto;
}

#startButton {
    width: 20vw;
    height: 10vw;
}

@media screen and (max-width: 980px) {
    #gameTitle {
        font-size: 5.75vw;
    }

    h1 {
        font-size: 3.75vw;
    }
    
    h2 {
        font-size: 3vw;
    }
    
    h3 {
        font-size: 2.75vw;
    }

    img {
        max-height: 35vw;
    }
}

@media screen and (max-width: 768px) {
    #gameTitle {
        font-size: 5.5vw;
    }

    h2 {
        font-size: 3.25vw;
    }
    
    h3 {
        font-size: 3vw;
    }

    img {
        max-width: 45vw;
    }
}

@media screen and (max-width: 680px) {
    #gameTitle {
        font-size: 5.75vw;
    }
}

@media screen and (max-width: 640px) {
    #gameTitle {
        font-size: 6vw;
    }
}